@import "grid-layout.css";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

/* style */

body {
    margin: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.container {
    padding: 0.3rem;
}

.sec-title {
    font-weight: bold;
    font-size: x-large;
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

.list-item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

.name {
    font-weight: bold;
    font-size: larger;
}

.date {
    font-style: italic;
    text-align: right;
    padding-right: 2rem;
    color: #707070;
}

.description {
    border-left-style: solid;
    border-left-width: 0.1rem;
    border-left-color: #707070;
    padding-left: 0.3rem;
    margin-left: 0.8rem;
}

.edu.issuer, .job.employer, .lang.certificate, .cert.issuer {
    color: #1d1d1d;
    font-family: 'IBM Plex Mono', monospace;
}

.pic.image {
    margin: auto;
    max-width: 10rem;
    border-radius: 5rem;
}

.pic.container {
    display: flex;
    background-color: rgb(180, 221, 255);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.bio.container, .title.container {
    background-color: #d8dde4d0;
    padding: 2rem;
}

.skills.container, .uris.container {
    background-color: #c0c6c9;
    padding: 2rem;
}

.edu.container, .job.container, .lang.container, .cert.container {
    background-color: #fafafa;
    padding-left: 2rem;
}

.edu.container {
    padding-top: 2rem;
}

.skills.element {
    margin-left: 1rem;
}

.uris.list-item {
    margin-bottom: 0px;
    font-family: 'IBM Plex Mono', monospace;
}

/* uris */

.uris.list-item a{
    text-decoration: none;
    font-size: smaller;
}

/* unvisited link */
.uris.list-item a:link {
    color: black;
}

/* visited link */
.uris.list-item a:visited {
    color: black;
}

/* mouse over link */
.uris.list-item a:hover {
    color: blue;
}

/* selected link */
.uris.list-item a:active {
    color: blue;
}

.title.container {
    font-weight: bold;
    font-size: xx-large;
    text-align: left;
}