.container {
    padding: 0.3rem;
}

.sec-title {
    font-size: larger;
    text-decoration: underline;
}

.list-item {
    border-left-style: dotted;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

.name {
    font-weight: bold;
}

.edu.grade {
    text-decoration: underline;
}

.date {
    font-style: italic;
}

.description {
    padding-left: 2rem;
}