<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>{{ page.title }}</title>
  <link href="media/styles/{{ site.style }}.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div id="main" class="grid-container">

    <div id="title" class="title container">
      {{ page.title }}
    </div>

    <div id="content" class="bio container">
    {{ content }}
    </div>

    <div id="picture" class="pic container">
      <img src="media/images/{{ page.cv-pic }}" class="pic image">
    </div>

    {% if site.data.education[0] %}
    <div id="education" class="edu container">
      <div class="edu sec-title">Education</div>
      {% for i in site.data.education %}
        <div class="edu list-item">
          <div class="edu name">{{ i.name }}</div> 
          <div class="edu issuer">{{ i.issuer }}</div>
          {% if i.mark %}
            <div class="edu mark">{{ i.mark }}</div>
          {% endif %}
          <div class="edu date">{{ i.date_start }}-{{ i.date_end }}</div>
          {% if i.description %}
            <div class="edu description">{{ i.description }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if site.data.experience[0] %}
    <div id="experience" class="job container">
      <div class="job sec-title">Experience</div>
      {% for i in site.data.experience %}
        <div class="job list-item">
          <div class="job name">{{ i.name }}</div> 
          <div class="job employer">{{ i.employer }}</div>
          <div class="job location">{{ i.location }}</div>
          <div class="job date">{{ i.date_start }}-{{ i.date_end }}</div>
          {% if i.description %}
            <div class="job description">{{ i.description }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if site.data.languages[0] %}
    <div id="languages" class="lang container">
      <div class="lang sec-title">Languages</div>
      {% for i in site.data.languages %}
        <div class="lang list-item">
          <div class="lang name">{{ i.name }}</div> 
          <div class="lang level">{{ i.level }}</div>
          {% if i.certificate %}
            <div class="lang certificate">{{ i.certificate }}</div>
            <div class="lang date">{{ i.date }}</div>
          {% endif %}
          {% if i.description %}
            <div class="lang description">{{ i.description }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if site.data.certificates[0] %}
    <div id="certificates" class="cert container">
      <div class="cert sec-title">Certificates</div>
      {% for i in site.data.certificates %}
        <div class="cert list-item">
          <div class="cert name">{{ i.name }}</div>
          <div class="cert issuer">{{ i.issuer }}</div>
          <div class="cert date">{{ i.date }}</div>
          {% if i.description %}
            <div class="cert description">{{ i.description }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if site.data.skills[0] %}
    <div id="skills" class="skills container">
      {% for i in site.data.skills %}
        <div class="skills list-item">
          <div class="skills name">{{ i.name }}</div>
          {% for e in i.list %}
            <div class="skills element">{{ e }}</div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if site.data.uris[0] %}
    <div id="uris" class="uris container">
      {% for i in site.data.uris %}
        <div class="uris list-item">
          <a href={{ i.uri }}>{{ i.name }}</a>
        </div>
      {% endfor %}
    </div>
    {% endif %}

  </div>
</body>
</html>