<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>{{ page.title }}</title>
</head>
<body>
  <div id="main">

    <div id="content">
    {{ content }}
    </div>

    <div id="education">
      Education
      <ul>
        {% for i in site.data.education %}
          <li>
            <edu-name>{{ i.name }}</edu-name> 
            <edu-grade>{{ i.grade }}</edu-grade>
            <edu-date>{{ i.date_start }}-{{ i.date_end }}</edu-date>
            {% if i.description %}
              <edu-description>{{ i.description }}</edu-description>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div id="experience">
      Experience
      <ul>
        {% for i in site.data.experience %}
          <li>
            <job-name>{{ i.name }}</job-name> 
            <job-role>{{ i.role }}</job-role>
            <job-location>{{ i.location }}</job-location>
            <job-date>{{ i.date_start }}-{{ i.date_end }}</job-date>
            {% if i.description %}
              <job-description>{{ i.description }}</job-description>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div id="languages">
      Languages
      <ul>
        {% for i in site.data.languages %}
          <li>
            <lang-language>{{ i.language }}</lang-language> 
            <lang-level>{{ i.level }}</lang-level>
            {% if i.certificate %}
              <lang-certificate>{{ i.certificate }}</lang-certificate>
              <lang-date>{{ i.date_start }}</lang-date>
            {% endif %}
            {% if i.description %}
              <lang-description>{{ i.description }}</lang-description>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</body>
</html>